.Rproj.user
.Rhistory
.RData
.Ruserdata
Teaching_and_Learning_STEM2.1_Writing_and_using_course_learning_objectives.pdf
Teaching_and_Learning_STEM2.2_Bloom's_taxonomy_of_educational_objectives.pdf
index.Rmd
PLS120Book2018.log
PLS120Book2018.md
PLS120Book2018.pdf
PLS120Book2018.tex
docs
